{
	email admin@itsumi.moe

	layer4 {
		:25565 {
			route {
				proxy {
					upstream podman-minecraft-server:25565
				}
			}
		}
		udp/:25565 {
			route {
				proxy {
					upstream podman-minecraft-server:25565
				}
			}
		}
	}
}

matrix.itsumi.moe {
	reverse_proxy podman-tuwunel:8008
}

itsumi.moe {
	reverse_proxy /.well-known/matrix/* podman-tuwunel:8008 {
		header_up Host {upstream_hostport}
	}
}

erika.itsumi.moe {
	reverse_proxy podman-itsumi:80
}

shiori.itsumi.moe {
	reverse_proxy podman-shiori:3001
}

linkding.itsumi.moe {
	reverse_proxy podman-linkding:9090
}
