{
	email admin@itsumi.moe

	layer4 {
		:25565 {
			route {
				proxy {
					upstream podman-minecraft-server:25565
				}
			}
		}
		udp/:25565 {
			route {
				proxy {
					upstream podman-minecraft-server:25565
				}
			}
		}
	}
}

matrix.itsumi.moe, matrix.itsumi.moe:8448 {
  reverse_proxy podman-tuwunel:8008
}

itsumi.moe {
	#rewrite /erika/${path}
	reverse_proxy podman-itsumi:80
}

erika.itsumi.moe {
	reverse_proxy podman-itsumi:80
}

shiori.itsumi.moe {
	reverse_proxy podman-shiori:3001
}

linkding.itsumi.moe {
	reverse_proxy podman-linkding:9090
}
